<html>
<head>
	<meta charset="UTF-8"/>
	<title></title>

	<link rel="stylesheet" type="text/css" href="css/css.css">
</head>
<body ng-app="synergy">

	<pannel></pannel>
	<syner-graph>
		<div class="parameters">
			<header 
				ng-bind="(isOpen ? 'Cacher les paramètres' : 'Afficher les paramètres')"
				ng-click="isOpen = !isOpen"></header>
			<article ng-show="isOpen">
				Flexibilité des liens ({{ linkStrength }}) : <input type="range" ng-model="linkStrength" min="0" max="1" step="0.1"/><br/>
				Multiplicateur de synergie ({{ linkDistanceFactor }}) : <input type="range" ng-model="linkDistanceFactor" min="0" max="100" step="1"/><br/>
				Multiplicateur de défauts ({{ nodeChargeFactor }}) : <input type="range" ng-model="nodeChargeFactor" min="0" max="10000" step="100"/><br/>
				Attraction du centre ({{ gravity }}) : <input type="range" ng-model="gravity" min="0" max="10" step="0.1"/><br/>
			</article>
		</div>
	</syner-graph>

	<script type="text/javascript" src="libs/jquery.min.js"></script>
	<script type="text/javascript" src="libs/d3.min.js"></script>
	<script type="text/javascript" src="libs/angular.min.js"></script>

	<script type="text/javascript" src="app/app.js"></script>
	<script type="text/javascript" src="app/datas/service.js"></script>
	<script type="text/javascript" src="app/datas/controller.js"></script>
	<script type="text/javascript" src="app/datas/directive.js"></script>
	<script type="text/javascript" src="app/graphe/directive.js"></script>
</body>
</html>